body {
  background-image: url("../images/zwartevilt_brown.png");
  color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
}

h1, h2, h3, h4, h5, .navbar-brand, li a {
  font-variant: small-caps;
  color: #fff;
}

.navbar-brand, li a {
  font-size: 24px;
}

.navbar-brand {
  font-weight: 700;
}

.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
  background-image: url(../images/zwartevilt_lbrown.png);
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  padding: 20px;
}

.navbar-light .navbar-brand {
  color: #fff;
  padding: 18px;
}

.navbar {
  padding: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
  background: #56260c;
  color: #c8a52c;
  transition: all .2s ease-in-out; 
}

.navbar-light .navbar-brand:hover {
  background: #56260c;
  color: #c8a52c;
  transition: all .2s ease-in-out; 
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200,165,44, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
  color: #c8a52c;
  border-color: #c8a52c;
}

.masthead {
  background: transparent;
  background-image: url("../images/masthead.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.card-img-overlay {
  padding: 0;
}

.card-img {
  /* max-width: 478px;
  max-height: 270px; */
  max-width: 400px;
  max-height: 240px;
}

.card {
  /* max-width: 478px;
  max-height: 270px; */
  max-width: 390px;
  max-height: 200px;
  margin: 0 auto;
  background: transparent;
}


.card-title {
  position: absolute;
  bottom: 6px;
  padding: 10px;
  background: #56260c;
  opacity: 0.9;
  width: 100%;
}

.divider {
  height: 5px;
  background: #46332a;
  margin-top: 40px;
}

.footer-social {
  background-image: url(../images/zwartevilt_brown_highlight.png);
  padding: 10px;
  margin-top: 40px;
  text-align: center;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.08);
}

.footer-social a {
  padding: 5px;
  opacity: 0.7;
}

.footer-social a:hover {
  opacity: 1;
}

.footer-pane {
  background: #211510;
  background-image: url(../images/zwartevilt_dkbrown.png);
}

.pane-content {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: 40px 0 15px 0;
}

a h5:hover {
  color: #c8a52c;
}

.form-group {
  margin: 0 auto;
}

input[type=text], select, textarea, .form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Open Sans', Arial, sans-serif;
  background: #46332a;
  color: #ffffff; 
}

.form-control:focus, textarea:focus {
  outline: none;
  border: 1px solid #c8a52c;
  background: #46332a;
  color: #ffffff; 
}

textarea {
  height: 200px;
}

.btn {
  background: transparent;
  color: #ffffff;
  padding: 5px 24px;
  border: 1px solid #c8a52c;
  font-variant: small-caps;
  font-family: 'Open Sans', Arial, sans-serif;
  margin-left: 20px;
}

.btn:hover {
  background: #56260c;
  color: #c8a52c;
  transition: all .2s ease-in-out;
}