.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
  background-image: url(../images/zwartevilt_lbrown.png);
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  padding: 20px;
}

.navbar-light .navbar-brand {
  color: #fff;
  padding: 16px;
}

.navbar {
  padding: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
  background: #56260c;
  color: #c8a52c;
  transition: all .2s ease-in-out; 
}

.navbar-light .navbar-brand:hover {
  background: #56260c;
  color: #c8a52c;
  transition: all .2s ease-in-out; 
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200,165,44, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
  color: #c8a52c;
  border-color: #c8a52c;
}

.masthead {
  background-image: url("../images/masthead.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

body {
  background: #46332a;
  color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
}